<%= render 'layouts/sidemenu' %>
<div class="container">
  <div class="row" id="dashboardmain">
    <div class="col-xs-1">
    </div>

<<<<<<< HEAD
    <div class="col-xs-10">
      <h1>Dashboard#index</h1>
      <p>Find me in app/views/dashboard/index.html.erb</p>
=======
<DIV style="position: absolute; top:0px; left:90px; width:200px; height:25px">

<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
>>>>>>> origin/front_end

      <%=link_to 'Log out', destroy_user_session_path, :method => :delete  %>

    </div>

    <div class="col-xs-1">
    </div>

  </div>
</div>

</DIV>

<script>  
  var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),

  showLeftPush = document.getElementById( 'showLeftPush' ),
  body = document.body;
    
  classie.add( showLeftPush, 'active' );
  classie.add( body, 'cbp-spmenu-push-toright' );
  classie.add( menuLeft, 'cbp-spmenu-open' );
  
  showLeftPush.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toright' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
  };
</script>
