<div class="page-main">

<h2>New score</h2>

<%= render partial: 'form', locals: { url: create_score_path } %>

<%= link_to 'Back', answers_path(test_id: @test.id), :class=>"btn btn-primary" %>

</div>

<%= render 'layouts/sidemenu' %>
