<div class="page-main">

  <section class="header">
    <h2>Question Feed</h2>
  </section>


	<% @questions.each do |q| %>
		<%= link_to q.title, show_question_path(question_id: q.id) %><br>
	<% end %>

	<%= link_to '<strong>+</strong> New Question'.html_safe, new_general_question_path, :class => "btn btn-primary" %>

</div>

<%= render 'layouts/sidemenu' %>
