<div class="page-main">
  <h3><%= @question.title %></h3>
  <%= link_to 'Back', questions_path(kind: @kind), :class => "btn btn-default" %>
  <br/><br/>
  <iframe frameBorder="0" src= <%= @uri %> width=800 height=900></iframe><br>
  
</div>

<%= render 'layouts/sidemenu' %>
