<div class="page-main">

  <section class="header">
		<h2>Create new subject!</h2>
  </section>

		<%= render 'form' %>

		<br/>
		<%= link_to 'Back', dashboard_path, :class => "btn btn-default" %>

</div>

<%= render 'layouts/sidemenu' %>

